h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
}

h3 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1.1rem;
    margin-bottom: 0.5rem;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
}

@media screen and (min-width: 769px) {
    h1 {
        font-size: 2.5rem;
        margin-top: 2.5rem;
        margin-bottom: 1.25rem;
    }
    
    h2 {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    h3 {
        font-weight: normal;
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
    }

    li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

pre {
    /* The following "pre-line" property is specified, because
    current kramdown (GitHub Pages's default parser) version
    (2.1.0, https://kramdown.gettalong.org/syntax.html)
    seems not to wrap text inside the <pre> element by default,
    and the intended page's display is broken because of that.
    Nonetheless, it works only partially (it does not let the words
    split on some punctuation marks), and another solution
    should be used, if known. */
    white-space: pre-line;
}

/* The following table properties definitions are specified,
    because current kramdown (GitHub Pages's default parser)
    version (2.1.0, https://kramdown.gettalong.org/syntax.html)
    seems not to support any borders by default, and the intended
    tables display assumes that they have borders. */

.my-animated-bg-border, .my-bg, td {
    background-color: #f0f5f5;
}

.my-animated-bg-border, .my-border, td {
    /* The following "!important" directive
    is needed in order to override Bootstrap
    default styling. */
    border-color: #d1e0e0 !important;
}

.my-animated-bg-border {
    transition: border-color 0.2s linear, background-color 0.2s linear;
}

.my-animated-bg-border:hover, th {
    background-color: #d1e0e0;
    /* The following "!important" directive
    is needed in order to override Bootstrap
    default styling. */
    border-color: #b3cbcb !important;
}

th, td {
    /* The following "!important" directive
    is needed in order to override the styling
    of the "my-animated-bg-border" element
    border above. */
    border: 3px solid transparent !important;
    background-clip: padding-box;
    border-radius: 5px;
}

table, th, td {
    padding: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
}