body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* Override the default margins' size for the BODY element */
    margin: 0;
}

a:hover,
a:focus {
    background-color: lightgrey;
}

blockquote {
    border-left: 5px solid grey;
    padding-left: 10px;
}

blockquote p {
    font-style: italic;
}

kbd {
    background-color: beige;
    font-weight: bold;

    padding: 2px;
    border: 1px solid black;
}

code {
    /* Override default values of the CODE element */

    background: beige;

    font-size: 1rem;
    /* The default line height in Firefox 86.0 seems to be 19px,
    so we add 2px for the borders and 2px for the empty space between
    the lines */
    line-height: 23px;
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    /* overflow-wrap: break-word; */
   
    min-height: 100vh;
    
    display: grid;
    /* The following grid template rows' sizes are for, respectively:
    header, content, footer */
    grid-template-rows: auto 1fr auto;
}

.header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;

    display: grid;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.homepage-link {
    background-color: lightgrey;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-form__input {
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.search-form__input:focus {
    border-color: grey;
}

ul.search-form__results-list {
    padding-left: 10px;
    /* Override the default list style for a UL element */
    list-style: none;
    /* Override the default top margin's size for a UL element */
    margin-top: 0;
    /* Override the default bottom margin's size for a UL element */
    margin-bottom: 0;
}

.search-form__results-list {
    background-color: beige;

    margin-right: 20px;
    padding: 10px;
    border: 2px solid darkgrey;

    display: none;
    position: absolute;
}

.search-form__results-list__item__link {
    padding: 5px;

    display: block;
}

.feed {
    display: flex;
    align-items: center;
}

.feed__icon {
    max-width: 30px;
    max-height: 30px;
    margin-left: 5px;

    display: flex;
    align-items: center;
}

.footer {
    background-color: lightgrey;
    text-align: center;
    
    padding: 10px;
    padding-right: 20px;
}

@media (min-width: 800px) {
    .container {
        max-width: 800px;
        margin: auto;
    }

    .header {
        /* Override the right padding's size that has been set for smaller
        viewport's sizes */
        padding-right: 0;
        /* Override the left padding's size that has been set for smaller
        viewport's sizes */
        padding-left: 0;
    }

    .footer {
        padding-right: 10px;
    }
}
