.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

    display: flex;
    align-items: center;
}

.header-controls {
    margin-top: 5px;

    display: flex;
    align-items: center;
}

.search-form {
    /* "position: relative" has to be
    defined in order that its children
    "absolute" position works*/
    position: relative;
}

.search-form__input {
    padding: 0;
}

.search-form__results-list {
    background-color: beige;
    border: 2px solid darkgrey;
    font-size: 1rem;

    margin-top: 0;
    /* additional 16 would from default input element borders,
    and there is 12 instead of 16 from my ul element borders */
    /* min-width: 196px; */
    width: 150px;
    max-height: 8rem;
    overflow-y: auto;
    padding-left: 0;

    display: none;
    /* "position: absolute" has
    to be defined in order not to
    change layout while appearing */
    position: absolute;
}

.search-form__results-list__item {
    list-style: none;
    border-bottom: 1px solid grey;
}

.search-form__results-list__item:last-child {
    border-bottom: none;
}

.search-form__results-list__item__link {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: block;
}

.search-form__results-list__item__link:hover {
    background-color: lightgrey;
}

.rss-container {
    margin-top: 5px;

    display: flex;
    align-items: center;
}

.rss-label {
    font-size: initial;
}

.rss-icon {
    max-width: 24px;
    max-height: 24px;
    margin-left: 5px;
}

@media (min-width: 450px) {
    .header-controls {
        margin-top: 0px;
    }

    .search-form__results-list {
        width: 200px;
    }

    .rss-container {
        margin-top: 0;
    }
}