.containter {
    display: grid;
    grid-template-rows: 40px 1fr auto;
    grid-template-columns: auto;
}

.header {
    justify-content: flex-end;
    flex-direction: column;
}

.header-controls {
    flex-direction: column;
}

.left-panel {
    text-align: center;

    margin: 10px;
    margin-right: 20px;
    padding: 10px;
}

.left-panel__heading {
    font-family: monospace;
    font-size: 250%;
    font-weight: 100;

    margin: 0;
}

.left-panel__description {
    margin: 0;
    margin-top: 20px;
}

.article-list {
    text-align: center;
    list-style: none;
    border-left: none;
    border-top: 1px solid darkgrey;
    word-wrap: break-word;

    margin: 10px;
    margin-right: 20px;
    margin-top: 0;
    padding: 10px;
}

.article-list__article {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    grid-row: 3 / span 1;
}

@media (min-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40px 1fr auto;
    }

    .header,
    .header-controls {
        flex-direction: row;
    }

    .header {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }

    .rss-container {
        margin-left: 50px;
    }

    .left-panel {
        width: 85%;
        margin-right: 0;
        margin-top: 20px;
        padding-bottom: 10px;
        padding-right: 15px;

        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .left-panel__description {
        line-height: 150%;
    }

    .article-list {
        border-left: 1px solid darkgrey;
        border-top: none;

        width: 85%;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 0;
        padding-left: 15px;

        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .article-list__article {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }
}