.container {
    display: grid;
    grid-template-rows: 40px 1fr auto;
    grid-template-columns: auto;
}

.header {
    background-color: lightgray;

    max-width: 780px;
    /* 20px means padding (set in default header styles) */
    width: calc(100% - 20px);

    position: fixed;
    top: 0;

    justify-content: space-between;

    grid-row: 1 / span 1;
}

.search-form {
    margin-left: 10px;
    margin-right: 10px;
}

.search-form__input {
    /* 16px is from default input borders */
    width: calc(100% - 16px);
}

.content-container {
    margin-right: 20px;

    display: flex;
    justify-content: center;

    grid-row: 2 / span 1;
}

.content {
    text-align: justify;

    line-height: 130%;
    width: 90%;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    text-align: initial;

    line-height: initial;
}

.content h1 {
    text-align: center;
}

.footer {
    grid-row: 3 / span 1;
}

@media (min-width: 450px) {
    .content {
        line-height: 150%;
    }
}