.tag-list {
    list-style: none;

    padding-left: 0;

    display: flex;
    justify-content: center;

    margin: 0;
    margin-top: 30px;
}

.tag-list__tag {
    background-color: lavender;

    margin-left: 10px;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

.tooltip {
    text-decoration: underline;
}

h1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    margin-top: 20px;
}

@media (min-width: 450px) {
    h1 {
        margin-bottom: 80px;
    }
    h2 {
        margin-top: 50px;
    }
}