---
layout: default
cssfiles: ["/css/header.css", "/css/index.css"]
---

{% include header.html wide="false" %}
<div class="left-panel">
    <h1 class="left-panel__heading">{{ site.title }}</h1>
    <p class="left-panel__description">{{ site.description }}</p>
    <p class="left-panel__description">this place is hosted on <a href="https://github.com/">github</a>. if you have any comments about it, you can use github's functionality to contact me. please do it within <a href="https://github.com/silvuss/silvuss.github.io">the project</a> that stores all the content displayed here.</p>
    <p class="left-panel__description">for any further details, see <a href="https://github.com/silvuss/silvuss.github.io/blob/master/README.md">this project's readme</a>.</p>
</div>
<ul class="article-list">
    {% for post in site.posts %}
    <li class="article-list__article">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> — {{ post.date | date: "%Y %B %d" }}
    </li>
    {% endfor %}
</ul>