---
layout: default
---

{% include header.html wide="false" %}
<main class="row mt-2">
    <section class="col-sm-6 text-center p-3">
        <div class="pr-sm-3">
            <h1 class="mb-4">{{ site.title }}</h1>
            <p class="mb-4">{{ site.description }}</p>
            <p class="mt-4 mb-4">this place is hosted on <a href="https://github.com/">github</a>. if you have any comments about it, you can use github's functionality to contact me. please do it within <a href="https://github.com/silvuss/silvuss.github.io">the project</a> that stores all the content displayed here.</p>
            <p class="mt-4">for any further details, see <a href="https://github.com/silvuss/silvuss.github.io/blob/master/README.md">this project's readme</a>.</p>
        </div>
    </section>
    <section class="col-sm-6 text-center p-3">
        <ul class="list-group list-group-flush">
            {% for post in site.posts %}
            <li class="list-group-item">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> — {{ post.date | date: "%Y %B %d" }}
            </li>
            {% endfor %}
        </ul>
    </section>
</main>