---
layout: default
postcss: "/css/post.css"
show_homepage: true
---

<main class="post">
    <ul class="post__tags-list">
        {% if page.tags %}
        {% for tag in page.tags %}
        <li class="post__tags-list__tag">
            <a href="{{ site.url }}/tags/{{ tag }}.html" class="post__tags-list__tag__link">{{ tag }}</a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    <p class="post__date">{{ page.date | date: "%Y %B %d" }}</p>
    <h1 class="post__title">{{ page.title }}</h1>
    {{ content }}
</main>