---
layout: page
---

<article class="col-sm-8 mt-5">
    <ul class="d-flex justify-content-center list-unstyled">
        {% if page.tags %}
            {% for tag in page.tags %}
                <li class="ml-3 mr-3 bg-light text-light pt-1 pb-1 pl-2 pr-2 border border-primary">
                    <a href="{{ site.url }}/tags/{{ tag }}.html">{{ tag }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <h1 class="text-center mb-5 mt-5">{{ page.title }}</h1>
    {{ content }}
</article>