---
layout: default
tagcss: "/css/tag.css"
show_homepage: true
---

<main class="tag-articles">
    <h1 class="tag-articles__title">
        {{ site.tag-title-prefix }} <span class="tag-articles__title__tag">{{ page.tag }}</span>
    </h1>
    <ul class="tag-articles__list">
        {% for post in site.tags[page.tag] %}
        <li class="tag-articles__list__article">
            <h3 class="tag-articles__list__article__title">
                <a href="{{ post.url }}" class="tag-articles__list__article__title__link">{{ post.title }}</a>
            </h3>
            <div class="tag-articles__list__article__excerpt">
                {{ post.excerpt }}
            </div>
        </li>
        {% endfor %}
    </ul>
</main>