---
layout: page
---

<article class="col-sm-8">
    <h1 class="text-center mb-4">
        {{ site.tag-title-prefix }} <span class="bg-light pt-1 pb-1 pl-2 pr-2 border border-primary">{{ page.tag }}</span>
    </h1>
    <ul class="list-unstyled list-group list-group-flush">
        {% for post in site.tags[page.tag] %}
            <li class="list-group-item">
                <h3>
                    <a   href="{{ post.url }}">{{ post.title }}</a>
                </h3>
                <div class="mb-4 mt-4">
                    {{ post.excerpt }}
                </div>
            </li>
        {% endfor %}
    </ul>
</article>